* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blueviolet;
}

.First-Div {
    background-color: rgb(141, 0, 0);
    display: flex;
    align-items: center;
}

.ImageLogo {
    margin: 15px;
    width: 85px;
    border-radius: 50%;
    margin-left: 25px;
}

.h1-one {
    color: white;
    padding: 10px;
    display: contents;
    font-size: 20px;
}